.ol-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  height: 120px;
  border-radius: 12px;
  background-color: #0e0e0e;
  color: white;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 0px;
  cursor: pointer;
  transition: 0.2s;
}

.ol-widget-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  text-decoration: none;
  color: white;
}

.ol-widget:hover {
  outline: 2px solid white;
  outline-offset: 4px;
}

.ol-widget:hover .ol-widget-link {
  transform: scale(1.05);
}

.ol-svg-black {
  fill: #0e0e0e;
}