@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: #242424;
  background-image: radial-gradient(at 7.913000756945365% 51.977190564211575%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 1) 0%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 0) 100%), radial-gradient(at 44.42869579202817% 30.464398785015234%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 1) 0%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 0) 100%), radial-gradient(at 31.595922970169998% 74.67937624113377%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 1) 0%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 0) 100%), radial-gradient(at 60.551500504052% 27.63340651026396%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 1) 0%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 0) 100%), radial-gradient(at 85.06620322909475% 44.768790250346704%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 1) 0%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 0) 100%), radial-gradient(at 56.137879808016876% 96.90142581514898%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 1) 0%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 0) 100%), radial-gradient(at 9.772075057502017% 40.842411297038026%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 1) 0%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 0) 100%), radial-gradient(at 62.37114851425702% 34.525045014342545%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 1) 0%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 0) 100%), radial-gradient(at 84.77776585253183% 19.47682439892684%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 1) 0%, hsla(328.88888888888886, 40.90909090909091%, 25.882352941176467%, 0) 100%), radial-gradient(at 68.5878230548258% 66.29519491703391%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 1) 0%, hsla(219.42857142857142, 40.229885057471265%, 17.058823529411764%, 0) 100%), radial-gradient(at 9.660554122692599% 96.79339791771295%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 1) 0%, hsla(206.8965517241379, 93.54838709677419%, 6.078431372549019%, 0) 100%);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  color: white;
  user-select: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.app {
  width: 500px;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.username {
  font-family: "Chakra Petch", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin: 15px 0px 0px 0px;
}

.big-links {
  width: calc(100% - 30px);
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.width-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background-color: #0e0e0e;
  color: #D0FF00;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 0px;
  transition: 0.2s;
}

.width-link:hover {
  outline: 2px solid #D0FF00;
  outline-offset: 4px;
}

.width-link:hover p {
  font-size: 18px;
}

.width-link p {
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  color: #D0FF00;
  font-size: 16px;
  transition: 0.2s;
}

.width-link-action {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  border-radius: 6px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  color: #D0FF00;
  outline: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    outline: 2px solid #D0FF00;
  }
}

.footer {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.footer-links {
  margin: 10px 0px 20px 0px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-link {
  width: 40px;
  height: 40px;
  transition: 0.2s;
  svg, g, path {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    fill: #D0FF00;
  }
}

.icon-link:hover {
  transform: scale(1.15);
}

.info {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  user-select: none;
  transition: 0.2s;
}

.info svg {
  margin: 0 0 0 8px;
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.2s;
}

.info svg g path{
  fill: white;
  transition: 0.2s;
}

.info-text {
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.info:hover {
  color: #D0FF00;
  transform: scale(1.05);
}

.info:hover svg g path{
  fill: #D0FF00;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Chakra Petch", system-ui;
}

@media only screen and (max-width: 1100px) {
  .info {
    scale: 0.8;
    position: inherit;
    justify-content: center;
    padding: 0 0 20px 0;
    height: 30px;
    width: 175px;
    z-index: 2;
  }
}